@charset "UTF-8";
body {
	margin : 0;
	padding: 0;
	top: 0;
	left: 0;
	font-family: sans-serif;
	background: #dddddd;
}


.main-content {
	margin: 2rem 0 0 0;
}

.sidebar {
	width: 15rem;
	height: 100vh;
	background-color: #2f466b;
	position: fixed;
	margin: 0;
}

.sidebar-items {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;	
}

.sidebar-items li {
	color: #FFF;
	padding: 1rem;
}

.sidebar-items li:hover,
.sidebar-items li:active,
.sidebar-items li.active {
	background: #6999e5;
}

#profile {
	margin: 0 0 0 15rem;
	padding: 0;
	display: flex;
	justify-content: center; 
}

.profile-box {
	width: 50rem;
	max-width: 50%;
	padding: 2rem;
	margin: 5rem 0 0 0;
}

.profile-item-group {
	display: flex;
	justify-content: center;
}

.profile-item-group p {
	flex: 1;
}

#forum {
	margin: 0 0 0 15rem;
	padding: 0;
	position: absolute;
}

.ask-question {
	margin: 1rem 1rem;
	width: calc(100vw - 18rem);
	border: 3px dashed black;	
	padding: 2rem;
	background: #eff1f9;
}

.question-img {
	border-radius: 50%;
}

/* Questions */
.questions-list {
	margin: 1rem 1rem;
	width: calc(100vw - 18rem);
	padding: 2rem;
}

.content{
  background-color: #bdc3c7;
  overflow: hidden;
  max-height: 0;
  transition: max-height .6s ease-out;
  border-radius: 10px;
}

.content p {
  padding: 1rem;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}

.title {
  font-size: 20px;
  padding: 1rem;
  color: white;
  background-color: #000;
  border-radius: 10px;
}

.title-text {
  text-align: justify;
  text-justify: inter-word;
  margin: 0 0 0 2rem;
}

.title:hover{
  cursor: pointer;
  background: #2A2A2A;
}

.title:not(.not-border){
  border-top: solid white 1px;
}

.opened + .content{
  max-height: 100vh;
  transition: max-height 1.2s ease-out;
}

.arrow{
  position: absolute;
  padding: 0;
  margin: 0.25rem;
  border-top: 10px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  transition: .6s ease-in;
}

.opened .arrow{
  transform: rotate(90deg) ;
}

.question-credential {
	font-size: 12px;
	position: absolute;
	right: 4rem;
}

.question-item {
	margin: 0.5rem 0;
}

.answer-credential {
	font-size: 12px;
	position: relative;
	right: 4rem;
}

.writeAnswer-button {
	margin-bottom: 1rem;
}
